body {
    font-family: "Times New Roman", sans-serif;
    background-color: #f8f8f8;
}

.main-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.preview {
    display: none;
    width: 90%;
    max-width: 380px;
    height: auto;
    border-radius: 10px;
    margin: 25px auto;
    border: 4px solid var(--orange-soda);
    box-shadow: 0 4px 12px rgba(255, 102, 0, 0.3);
}

input[type="text"] {
    padding: 12px;
    width: 80%;
    max-width: 400px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

input[type="file"] {
    margin-top: 15px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* CSS cho trạng thái Disabled của input file */
input[type="file"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button {
    background-color: #007bff;
    color: white;
    padding: 14px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-top: 30px;
}

button:hover:enabled {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    color: black;
    cursor: not-allowed;
}

#result {
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 20px;
}

#nextDestinationBtn {
    display: none;
    margin: 30px auto 10px auto;
    background-color: #ff6600;
}

#nextDestinationBtn:hover {
    background-color: #e65c00;
}

/* CSS cho hộp thông báo khoảng cách */
#gpsStatus {
    margin: 15px auto;
    padding: 15px;
    border-radius: 8px;
    background-color: #eee;
    color: #555;
    font-weight: 600;
    border: 2px dashed #ccc;
    max-width: 600px;
}

/* --- CSS CHO NÚT GẠT (TOGGLE) --- */
.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto 20px auto;
    font-size: 1rem;
    color: #555;
    font-weight: 600;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(22px);
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}